feel-input {

  label {
    display: block;
    padding: 4px 6px;
  }

  textarea {
     resize: none;
  }

  input, textarea {
    width: 100%;
    border: 0;
    background-color: #eee;
    border-bottom: 2px solid #ccc;
    padding: 4px 6px;
    font-size: 18px;
    outline: none;

    &:focus, :active {
      border-bottom-color: $primary-color;
    }
  }
}
