feel-menu-bar {
  background-color: $feel-primary-hue-1;
  color: white;
  display: block;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 8px;

  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);

  .title {
    display: inline-block;
    vertical-align: middle;
    h1 {
      display: inline;
    }
  }
}

.menu-title {
  background-color: $feel-primary-hue-1;
  h1 {
    display: inline;
  }
}

feel-menu-panel {

  & > div {
    height: 100%;
    transition: left 0.4s ease;
    position: fixed;
    top: 0;
    left: -100%;

    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);

    &.show {
      left: 0;
    }
  }


    background-color: $feel-primary-hue-1;

  .menu-title {
    padding: 8px;
    display: inline-block;
    vertical-align: middle;
  }

  .menu-item {
    background-color: white;
    color: black;
    border: 1px solid #eee;
  }
}
