#notification-stream {
    position: fixed;
    top: 100px;
    right: 50%;

    .notification {
      padding: 8px;
      margin: 8px;
      display: block;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
      background-color: #fff;
      border: 2px solid #000;
      border-left-width: 48px;

      &.success {
          border-color: hsl(113, 80%, 35%);
      }

      &.error {
          border-color: hsl(0, 80%, 35%);
      }

      .title {
        font-size: 24px;
      }

      .message {
        color: #666;
      }
    }
}
