#npm
node_modules
npm-debug.log

#sass
css

#site
site/src
site/css

#compiled-typescript
feel-ui.js
site/ts/**/*.js
site/ts/**/*.js.map
site/ts/**/*.d.ts
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts

#tsd
typings

#distribution
dist
